.sidebar {

    width:240px;

    background:#111827;

    color:white;

    padding:25px 15px;

    min-height:100vh;

}


/* LOGO */

.logo {

    text-align:center;

    padding:10px 0 40px;

}


.company-logo {

    width:150px;

    height:80px;

    object-fit:contain;

    display:block;

    margin:auto;

}


/* MENU */

.menu a {

    display:block;

    color:#d1d5db;

    text-decoration:none;

    padding:14px 15px;

    border-radius:8px;

    margin-bottom:8px;

    font-size:16px;

}


.menu a:hover {

    background:#374151;

    color:white;

}